<h1 class="h1-top">Bookmarks</h1>

<p class="new-bookmark-btn"><%= link_to (button_tag 'New bookmark'), new_bookmark_path %></p>

<div class="bookmarks">
    <% @current_user.bookmarks.each do |bookmark| %>
        <div class="bookmark-container">
            <%= link_to (image_tag bookmark.image, :class => 'bookmark-img'), bookmark %>
            <h3><%= link_to (bookmark.name), bookmark %></h3>
        </div>
        
    <% end %>
</div>


